

<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<!-- <title>darwinday</title> -->
	</head>

	<body>
		<div class="card mx-auto mt-5" style="width: 300px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Charles-darwin-portrait-svg.svg">
		    <div class="card-body bg-light">
				<h4 class="card-title">Hello {{ name }}</h4>
			    <p class="card-text">You are {{ days }} days {{ direction }} than Charles Darwin</p>
            </div>
		</div>
	</body>

</html>